<h1 class="title">Welcome, <%= current_user.name %>!</h1>

<table class="table">
  <thead>
  <tr>
    <th>User Email</th>
    <th>User Name</th>
    <th>Administrator</th>
    <th>Instructor</th>
    <th>User ID</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td>
          <div class="checkbox">
            <input type="checkbox" class="admin_toggle" data-toggle="toggle" id="admin_toggle_<%= user.id %>"
                   <% if user.has_role? :admin %> checked<% end %> data-url="<%= user_site_admin_path(user_id: user.id) %>">
          </div>
        </td>

        <td>
          <div class="checkbox">
            <input type="checkbox" class="instructor_toggle" data-toggle="toggle" id="instructor_toggle_<%= user.id %>"
                   <% if user.has_role? :instructor %> checked<% end %> data-url="<%= user_site_instructor_path(user_id: user.id) %>">
          </div>
        </td>
        <td><%= user.uid %></td>
      </tr>
  <% end %>
  </tbody>

</table>